
<ion-content class="login-bg">
  <div>
    <ion-grid class="login-form">
      <ion-row>
        <ion-col class="logo-row">
          <!-- <img src="" alt="readme"> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="409" height="112" viewBox="0 0 409 112">
            <text id="READ.ME" fill="#fff" font-size="80" font-family="BigJohn, Big John"><tspan x="0" y="85">R</tspan><tspan y="85" font-family="ZilapOrionPersonalUse-Futuristic, Zilap Orion Personal Use Futuristic">E</tspan><tspan y="85">AD.ME</tspan></text>
          </svg>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Usuário</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="button-row">
          <ion-button expand="full" color="action-button" routerLink="/home">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
