<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="acessarSpeech()">
  <ion-fab-button color="primary">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>

  <ion-grid>
    <ion-row class="books-row">
      <ion-col size="2">
        <div #leftContainer class="menu-list"></div>
      </ion-col>
      <ion-col size="10" class="books-container">

        <ion-row>
          <ion-col>
            <ion-segment (ionChange)="segmentChanged($event)" value="livros">
              <ion-segment-button value="livros">
                <ion-label>Livros</ion-label>
              </ion-segment-button>
              <ion-segment-button value="comics">
                <ion-label>Comics</ion-label>
              </ion-segment-button>
              <ion-segment-button value="documentos">
                <ion-label>Documentos</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-label><h1 class="library-title">{{activeTab | titlecase }}</h1></ion-label></ion-col>
        </ion-row>
        <div #rightContainer class="library-files"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="face-api">
        <video #videoPlayer width="800" height="600" autoplay muted></video>
        <canvas #canvasDiv></canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


